{% extends "/public/base.html" %}

{% block title %}Verify your e-mail{% endblock title %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>

            <div class="col-6">
                <h1 class="display-4">Verify your e-mail address</h1>

                <p>Please confirm your e-mail address. We sent you an e-mail with instructions.</p>
            </div>

            <div class="col">
            </div>

        </div>
    </div>
</div>
{% endblock content %}
